* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bgcolor: #15202b;
  --boxcolor: #1e2732;
  --headercolor:	#149eca;
  --textcolor: #f5f7f7;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 12px;
}

::-webkit-resizer {
  background-color: var(--boxcolor);
}

body {
  background-color: var(--bgcolor);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin: 20px;
  color: var(--textcolor);
}

a {
  color: var(--textcolor);
}

img {
  width: 50%;
}

.editor {
  width: 50%;
}

.editor-header {
  padding: 10px;
  background-color: var(--headercolor);
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#editor {
  resize: vertical;
  width: 100%;
  min-height: 200px;
  background-color: var(--boxcolor);
  color: var(--textcolor);
  outline: none;
  border-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.preview {
  width: 60%;
  background-color: var(--boxcolor);
  border: 1px solid black;
  border-radius: 10px;
}

.preview-header {
  padding: 10px;
  background-color: var(--headercolor);
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#preview {
  padding: 10px;
}

#prewiev code {
  color: #149eca;
}

@media screen and (max-width: 600px) {
  .editor {
    width: 90%;
  }
  .preview {
    width: 99%;
  }
}